.goback {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: none;
  color: black;
  opacity: 50%;
  margin-top: 80px;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .goback {
    margin-top: 33px;
  }
}

@media (max-width: 500px) {
  .goback {
    margin-top: 16px;
  }
}