.summary-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #FFF;
  padding: 32px 33px;
  max-width: 100%;
  border-radius: 10px;
}

.checkout-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.checkout-products-right {
  display: flex;
  gap: 16px;
}

.checkout-product-image {
  max-width: 64px;
  border-radius: 5px;
}

.checkout-name-price {
  display: flex;
  flex-direction: column;
}

.checkout-product-name {
  font-family: "Manrope", sans-serif;
  font-Weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.checkout-product-price {
  font-family: "Manrope", sans-serif;
  font-Weight: 700;
  font-size: 14px;
  line-height: 25px;
  opacity: 50%;
}

.checkout-quantity {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  opacity: 50%;
}

.statement {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkout-totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statement-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000;
  opacity: 50%;
  margin: 0;
}

.statement-price {
  font-family: "Manrope", sans-serif;
  font-Weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  margin: 0;
}

.statement-grand-total-text,
.statement-grand-total {
  margin-top: 16px;
}

.statement-grand-total {
  color: #D87D4A;
}

.summary-button {
  height: 48px;
  padding: 0;
  background-color: var(--orange1);
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.summary-button:hover {
  background-color: var(--orange2);
}

@media (max-width: 1000px) {
  .summary-container {
    width: 100%;
    background-color: #FFF;
    padding: 33px;
    border-radius: 10px;
  }

  .summary-button {
    height: 48px;
    width: 100%;
    padding: 0;
    background-color: var(--orange1);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: var(--white);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .summary-container {
    width: 100%;
    background-color: #FFF;
    padding: 24px;
    border-radius: 10px;
  }

}